.header{
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_main{
    width: 300px;
}
.nav_main > ul{
    display: flex;
    list-style: none;
    justify-content: space-around;

}

.nav_main  a{
    color :white;
}
.nav_sub{
    width: 200px;
}
.nav_sub>ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav_sub a{
    color: white;
}

.icon{
	vertical-align: bottom;
}
.content h1{
    text-align: center;
}