<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.sj.s1.bankbook.BankBookDTO"
			alias="BankBookDTO" />
		<typeAlias type="java.lang.Long" alias="Long" />
		<typeAlias type="com.sj.s1.member.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.sj.s1.notice.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.sj.s1.util.Pager" alias="Pager"/>
	</typeAliases>

</configuration> 