<?xml version="1.0" encoding="UTF-8"?>

		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sj.s1.bankbook.BankBookDAO">

	<update id="update" parameterType="BankBookDTO">
	 	update bankbook set bookName=#{bookName}, bookContents=#{bookContents}, bookSale=#{bookSale},bookRate=#{bookRate}
	 	where bookNumber=#{bookNumber}
	 									
	</update>

	<select id="detail" parameterType="BankBookDTO" resultType="BankBookDTO">
		SELECT * FROM BANKBOOK WHERE BOOKNUMBER=#{bookNumber}
	</select>

	<select id="list" resultType="BankBookDTO">
		SELECT * FROM BANKBOOK
	</select>

	<insert id="add" parameterType="BankBookDTO">
		insert into bankbook (booknumber, bookname, bookcontents, bookrate,
		booksale)
		values (bankbook_seq.nextval, #{bookName}, #{bookContents},
		#{bookRate}, #{bookSale})
	</insert>

	<delete id="delete" parameterType="BankBookDTO">
		delete bankbook where booknumber=#{bookNumber}
	</delete>
</mapper> 