<?xml version="1.0" encoding="UTF-8"?>

		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sj.s1.board.notice.NoticeDAO">
	
	<insert id="addFile" parameterType="BoardFileDTO">
		INSERT INTO NOTICEFILE (FILENUM, num, FILENAME, ORINAME)
		VALUES (FILE_SEQ.NEXTVAL,#{num},#{fileName},#{oriName})
	</insert>
	
	<delete id="delete" parameterType="NoticeDTO">
		delete notice where num=#{num}
	</delete>
	
	<update id="update" parameterType="NoticeDTO">
	 	update notice set title=#{title}, contents=#{contents}
	 	where Num=#{num} 									
	</update>
	
 	<insert id="add" parameterType="NoticeDTO">
 		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
 			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
 		</selectKey>
 		insert into notice (num, writer, title, contents, regDate, hit)
 		values (#{num}, #{writer}, #{title}, #{contents}, sysdate, 0)
 	</insert>
 
 	<select id="detail" parameterType="NoticeDTO" resultMap="detailResult">
 		SELECT N.*, NF.*
		FROM
  		  NOTICE N
        	LEFT OUTER JOIN
  		  NOTICEFILE NF
   		 ON N.NUM=NF.NUM
		WHERE N.NUM=#{num}
 	</select>
 	
 	<resultMap type="NoticeDTO" id="detailResult">
 		<id column="num" property="num"/>
 		<result column="title" property="title"/>
 		<result column="writer" property="writer"/>
 		<result column="contents" property="contents"/>
 		<result column="regDate" property="regDate"/>
 		<result column="hit" property="hit"/>
 		<collection property="fileDTOs" javaType="List" ofType="NoticeFileDTO">
 			<id column="fileNum" property="fileNum"/>
 			<result column="fileName" property="fileName"/>
 			<result column="oriName" property="oriName"/>
 		</collection>
 	</resultMap>
 
 	<select id="list" parameterType="Pager" resultType="NoticeDTO">
	SELECT * FROM
		(SELECT ROWNUM R, B.* FROM
			(SELECT * FROM NOTICE WHERE NUM > 0
				AND
				<choose>
					<when test="kind=='col1'">
						TITLE
					</when>
					<when test="kind=='col2'">
						CONTENTS
					</when>
					<otherwise>
						WRITER
					</otherwise>
				</choose>
				LIKE '%' || #{search} || '%'
			 ORDER BY NUM DESC
			 ) B
		)
	WHERE R BETWEEN #{startRow} AND #{lastRow}
		</select>
		
		<select id="total" resultType="Long" parameterType="Pager">
SELECT COUNT(NUM) FROM NOTICE
 		WHERE NUM > 0
 			AND
	 		<choose>
				<when test="kind=='col1'">
					TITLE
				</when>
				<when test="kind=='col2'">
					CONTENTS
				</when>
				<otherwise>
					WRITER
				</otherwise>
			</choose>
		LIKE '%' || #{search} || '%'
 		</select>
		
</mapper> 