<?xml version="1.0" encoding="UTF-8"?>

		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sj.s1.board.notice.NoticeDAO">
	
	<delete id="delete" parameterType="NoticeDTO">
		delete notice where num=#{num}
	</delete>
	
	<update id="update" parameterType="NoticeDTO">
	 	update notice set title=#{title}, contents=#{contents}
	 	where Num=#{num} 									
	</update>
	
 	<insert id="add" parameterType="NoticeDTO">
 		insert into notice (num, writer, title, contents, regDate, hit)
 		values (notice_seq.nextval, #{writer}, #{title}, #{contents}, sysdate, 0)
 	</insert>
 
 	<select id="detail" parameterType="NoticeDTO" resultType="NoticeDTO">
 		select * from notice where num=#{num}
 	</select>
 
 	<select id="list" parameterType="Pager" resultType="NoticeDTO">
	SELECT * FROM
		(SELECT ROWNUM R, B.* FROM
			(SELECT * FROM NOTICE WHERE NUM > 0
				AND
				<choose>
					<when test="kind=='col1'">
						TITLE
					</when>
					<when test="kind=='col2'">
						CONTENTS
					</when>
					<otherwise>
						WRITER
					</otherwise>
				</choose>
				LIKE '%' || #{search} || '%'
			 ORDER BY NUM DESC
			 ) B
		)
	WHERE R BETWEEN #{startRow} AND #{lastRow}
		</select>
		
		<select id="total" resultType="Long" parameterType="Pager">
SELECT COUNT(NUM) FROM NOTICE
 		WHERE NUM > 0
 			AND
	 		<choose>
				<when test="kind=='col1'">
					TITLE
				</when>
				<when test="kind=='col2'">
					CONTENTS
				</when>
				<otherwise>
					WRITER
				</otherwise>
			</choose>
		LIKE '%' || #{search} || '%'
 		</select>
		
</mapper> 